/RaspbianBuster
Aula21/Ejemplo/
Talleres/
Aula2/1.pdf
Proyecto/
Aula13/READMEAula13Ubuntu.txt
Aula13/CreacionNodo.PNG
Aula15/Grafos.pptx
Aula17/Grafos.pptx
Aula15/Resultados.PNG
Aula17/Resultados.PNG
Aula21/DocumentosApoyo/
EP2_2026_1.xlsx
Aula3/Keil/AdquisicionTiempo
Aula3/Keil/Tabla PSC y ARR.xlsx